# SPDX-FileCopyrightText: 2023 Romain Brault <mail@romainbrault.com>
#
# SPDX-License-Identifier: CC0-1.0

.idea
.mypy_cache
.nox
.pytest_cache
dist
build
htmlcov
site
__pycache__
_build
*.pyc
*.egg-info
*.log
*.mo
.coverage
.coverage.*
profile.*
coverage.*
