{%- if spdx_license != "None" %}
SPDX-FileCopyrightText: © {% now 'utc', '%Y' %} {{copyright_holder}} <{{copyright_holder_email}}>

SPDX-License-Identifier: {{spdx_license}}
{%- else -%}
{{copying_header}}
{%- endif %}
