# SPDX-FileCopyrightText: © 2023 Romain Brault <mail@romainbrault.com>
#
# SPDX-License-Identifier: CC0-1.0

furo==2023.7.26
myst-parser==1.0.0
sphinx-autoapi==2.1.0
sphinx-autobuild==2021.3.14
sphinx-click==4.4.0
sphinx==7.1.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-spelling==8.0.0
